<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Adoption Centre</title>
    <style>
        body {
            background-color: Apple;
        }	
    
        h1 {
            color: white;
            text-align: center;
        }
    
        p {
            font-family: arial;
            font-size: 25px;
            text-align: center
        }
    </style>
</head>
</body>
    <form action="http://localhost:5000/fetch_data" method="post">
        <p><H1>Adopt your pet companion<H1></p>
        <p><input type="text" name="uname" /></p>
        <p><input type="submit" value="submit" /></p>

        <a href="http://www.animalheaven.in/">Click me</a>
    </form>
</body>
</html>           